* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Reddit Mono", monospace;
}

.nav_menu__mobile {
    transition: 0.5s;
}


.dropdown {
    position: relative;
    display: inline-block;
    display: flex;
    align-items: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
}

.dropdown-content a {
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.slideshow-container {
    position: relative;
    margin: auto;
}

.header_scroll {
    transition: 0.5s;
}

.sale-box:before,
.sale-box:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
}



.sale-box:after {
    bottom: -13px;
    right: -48px;
    border-width: 50px 0 0 50px;
    /* Điều chỉnh kích thước góc nhọn */
    border-color: transparent transparent transparent #ffffff;
    /* Màu góc nhọn */
    transform: rotate(45deg);
}

.home_im1__inn {
    background-image: url('../images/h1-img-7.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.home_im2__inn {
    background-image: url('../images/s3qqpek5.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.home_product__sale-banner {
    background-image: url('https://images.pexels.com/photos/1391487/pexels-photo-1391487.jpeg?auto=compress&cs=tinysrgb&w=600');
    background-repeat: no-repeat;
    background-size: cover;
}

.box_tranform {
    transform: translateX(1000px);
    transition: 1s;
}

.box_tranform-overplay {
    transition: 1s;
}

.box_opacity {
    opacity: 0;
}

.shop_filter__box {
    transition: 1s;
}

.active {
    /* background-color: #698141; */
    /* color: 88a842; */
}

.content-box {
    display: none;
}

.content-box.active {
    display: block;
    color: #fff;
}

.nav-list_item.active {
    color: #fff;
    background-color: #698141;
}

.admin_product__tg-edit {
    transform: translate3d(950.6px, 120.8px, 0px) !important;
}

.box_dropdown {
    display: none;
}

#toast-success {
    transition: 0.5s;
    transform: translateX(1000px);
}

.home_productBox__addCart {
    display: flex !important;
}